* {
  box-sizing: border-box;
  background-color: white;
  color: #365185;
}

body {
/*  background-color: #e5e5e5;*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  height: 320px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5%;
  background: none;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0px;
  border-bottom: solid 1px black;
  background: none;
}

button {
  background-color: #5e6e8b;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}